
<script src=" {{ 'cart-popup.js' | asset_url }}" defer></script>
<cart-popup class="cartPopup" data-qty=1 data-price="{{ product.price }}" >
    <link rel="stylesheet" href="{{ 'cartPopup.css' | asset_url }}">
    <div class="cartPopup__overlay">
        <div class="cartPopup__content">
            <div class="cartPopup__product">
                <div class="cartPopup__notification">
                    {%- render 'icon-check' -%}
                    <div class="cartPopup__notification-text">Added to cart successfully!</div>
                </div>
                <div class="cartPopup__imgCont">
                    <img src="{{ product.featured_image | image_url }} " alt="{{  }}" />
                </div>
                <div class="cartPopup__infoProduct">
                    <div class="cartPopup__pdName">{{ product.title }}</div>
                    <div class="cartPopup__pdQty">
                       <span class="cartPopup__pdQty-text">QTY: </span>
                       <span class="cartPopup__pdQty-qty"> </span>
                    </div>
                    <div class="cartPopup__total">
                        <span class="cartPopup__total-text">TOTAL: </span>
                        <span class="cartPopup__total-total"> </span>
                    </div>
                </div>
            </div>
            <div class="cartPopup__cartInfo">
                <div class="cartPopup__cartTotal">
                    <div class="cartPopup__cartTotal-text">There are {{ cart.item_count }} items in your cart</div>
                    <div class="cartPopup__cartTotal-total">TOTAL:   <span>{{ cart.total_price | money }}</span></div>
                </div>
                <div class="cartPopup__btnCont">
                    <div class="cartPopup__btnShopping">
                        <button class="cartPopup__btnShopping-btn">CONTINUE SHOPPING</button>
                    </div>
                    <div class="cartPopup__btnViewCart">
                        <a href="{{ routes.cart_url }}" class="">
                            <button class="cartPopup__btnViewCart-btn">VIEW CART</button>
                        </a>
                    </div>
                </div>
                {%- render 'snippet-checkout-term' -%}
            </div>
            <div class="cartPopup__closeBtn">
                {%- render "icon-X" -%}
            </div>
        </div>
        <div class="cartPopup__contentMobile ">
            <div style="margin-bottom: 20px" class="cartPopup__notification">
                {%- render 'icon-check' -%}
                <div class="cartPopup__notification-text">Added to cart successfully!</div>
            </div>
            <div class="cartPopup__btnCont">
                <div class="cartPopup__btnShopping">
                    <button class="cartPopup__btnShopping-btn">CONTINUE SHOPPING</button>
                </div>
                <div class="cartPopup__btnViewCart">
                    <a href="{{ routes.cart_url }}" class="">
                        <button class="cartPopup__btnViewCart-btn">VIEW CART</button>
                    </a>
                </div>
            </div>
            {%- render 'snippet-checkout-term' -%}
        </div> 
    </div>
</cart-popup>

