<link rel="stylesheet" href="{{ 'cartQuickView.css' | asset_url }}">
<script src=" {{ 'cart-quick-view.js' | asset_url }}" defer></script>
<cart-quick-view class="cartQuickView pa"  style="display: none;">
    <div class="cartQuickView__inner" >
            {%- if cart.item_count == 0 -%}
                <a href="{{ routes.cart_url }}" class="">
                    <div class="cartQuickView__emptyCart">
                        <div class="cartQuickView__emptyCart-icon">
                            <img src="//cdn.shopify.com/s/files/1/0550/1714/4497/files/shopping-bag.png?v=1655886064"/>
                        </div>
                        <div class="cartQuickView__emptyCart-text">No Products in the Cart</div>
                    </div>    
                </a>
            {%- else -%}
                {%- form 'cart', cart -%}
                    <div class="cartQuickView__contentCont">
                        {%- for item in cart.items -%}
                            <div class="cartQuickView__productLine">
                                <div class="cartQuickView__productLine-imgCont">
                                    {%- render "image-style" , image: item.image -%}
                                </div>
                                <div class="cartQuickView__productLine-productInfo">
                                    
                                    <div class="cartQuickView__productLine-productTitle">{{ item.title }}</div>
                                    <div class="cartQuickView__productLine-qtyAndPrice">
                                        <span class="cartQuickView__productLine-qty">{{ item.quantity }} &times; </span>
                                        <span class="cartQuickView__productLine-price">{{ item.price | money }}</span>
                                    </div>
                                </div>
                                <cart-remove-button class="cartQuickView__productLine-removeIcon" data-idProduct="{{ item.variant_id }}">
                                    <a href="{{ item.url_to_remove }}">
                                        {%- render 'icon-remove' -%}
                                    </a>
                                    <div class="cartQuickView__productLine-spinner"></div>
                                </cart-remove-button>
                            </div>
                        {%- endfor -%}
                    </div>
                    <div class="cartQuickView__totalCart">
                        <div class="cartQuickView__totalCart-text">TOTAL:</div>
                        <div class="cartQuickView__totalCart-total">{{ cart.total_price | money }}</div>
                    </div>
                    <div class="cartQuickView__checkOutCont">
                        {%- render 'snippet-checkout-term' -%}
                    </div>
                {%- endform -%}
                <div class="cartQuickView__viewCartBtn">
                    <a href="{{ routes.cart_url }}" class="">
                        <button class="cartQuickView__viewCartBtn-btn">VIEW CART</button>
                    </a>
                </div>
            {%- endif -%}
    </div>
</cart-quick-view>