<link rel="stylesheet" href="{{ 'collection.css' | asset_url }}">


<div class="breadcrumb">
  <div class="breadcrumb__inner">
      <div class="breadcrumb__option">
          <a href="{{ routes.root_url }}" class="">Home</a>
      </div>
      <div class="breadcrumb__option">
          <a href="{{ collectionUrl }}" class="">{{ collection.handle  | capitalize}}</a>
      </div>
  </div>
</div>
<section class="collection" data-section-type="collection" data-section-id="{{section.id}}">
    <div class="collection__inner">

      <div class="collection__spinner">

      </div>
      {% if section.settings.loading_type =='1' %}
      <div class="collection__filter">
        <div class="closebutton">
          {% render 'icon-close' %}
        </div>
        <div class="filter_Clear">
          
        
        </div>
        <div class="filter_byType">
          {% for block in section.blocks %}
          {% case block.type %}
              {% when 'Add_Filter' %}
              <ul class="tag-filters">
                  <div class="filter__tittle filter_active">
                    <div class="tittle__text">{{block.settings.tags_Heading}}</div>
                    <div class="Icon__Control">
                      {% render 'icon-minus' %}
                    </div>
                    <div class="Icon__Control plus">
                      {% render 'icon-plus' %}
                    </div>
                  </div>
                  
                  {% if block.settings.FilterBy == '2' %}
                  <div class="item__wrap flex">
                      
                    {% assign beatles = block.settings.tags | split: "," %}

                    {% for member in beatles %}
                    
                    {% if member != "Stainless Steel" %}
                    <div class="tag color_tag" style="background-color: {{member}};">
                 
                      
                      {{ member | link_to_add_tag: member }}
                     </div>
                    {% endif %}
                     
                      {% if member == "Stainless Steel" %}
                      <div class="tag">
                 
                        {{ member | link_to_add_tag: member }}
                        
                      </div>
                      {% endif %}
                    {% endfor %}
                  
                  </div>
                  {% endif %}
                  
                 
                 {% if block.settings.FilterBy == '1' %}
                 <div class="item__wrap">
                      
                  {% assign beatles = block.settings.tags | split: "," %}

                  {% for member in beatles %}
                 
                    <div class="tag" >
               
                      {{ member | link_to_add_tag: member }}
                      
                    </div>
                  {% endfor %}
                
              </div>  
                 {% endif %}
                 
                 {% if block.settings.FilterBy == '3' %}
                 <div class="item__wrap">
                  <ul class="list">
                    {% for link in linklists[block.settings.menu].links %}
                          
                    <li> <a  class="navMenu__menuOption" href="{{ link.url }}">{{ link.title }}</a></li>
              
               {% endfor %}
                  </ul>   
                 
                
                </div> 
                 {% endif %}
                 

                </ul>
            
             

              
                  
          {% endcase %}
              
          {% endfor %}
                  
              
           
      </div>
        <div class="filter_image">
            {%- render 'image-style' , image:section.settings.filter_image-%}
        </div>

        </div>
      {% endif %}

      {% if section.settings.loading_type =='2' %}
      <div class="collection__filter">
        <div class="filter_Clear">

        </div>
        <div class="closebutton">
          {% render 'icon-close' %}
        </div>
        <div class="filter_byType">
          {% for block in section.blocks %}
          {% case block.type %}
              {% when 'Add_Filter' %}
              <ul class="tag-filters">
                  <div class="filter__tittle filter_active">
                    <div class="tittle__text">{{block.settings.tags_Heading}}</div>
                    <div class="Icon__Control">
                      {% render 'icon-minus' %}
                    </div>
                    <div class="Icon__Control plus">
                      {% render 'icon-plus' %}
                    </div>
                  </div>
                 
                  {% if block.settings.FilterBy == '2' %}
                  <div class="item__wrap flex">
                      
                    {% assign beatles = block.settings.tags | split: "," %}

                    {% for member in beatles %}
                    
                    {% if member != "Stainless Steel" %}
                    <div class="tag color_tag2" style="background-color: {{member}};">
                      {{ member }}
                     </div>
                    {% endif %}
                     
                      {% if member == "Stainless Steel" %}
                      <div class="tag">    
                        {{ member }}
                      </div>
                      {% endif %}
                    {% endfor %}
                  
                  </div>
                  {% endif %}
                  {% if block.settings.FilterBy == '1' %}
                  <div class="item__wrap">
                      
                    {% assign beatles = block.settings.tags | split: "," %}

                    {% for member in beatles %}
                   
                      <div class="tag" >
                        {{ member }}
                      </div>
                    {% endfor %}
                  
                 </div>  
                  {% endif %}
                  {% if block.settings.FilterBy == '3'  %}
                  <div class="item__wrap">
                    <ul class="list">
                      {% for link in linklists[block.settings.menu].links %}
                            
                      <li> <a  class="navMenu__menuOption" href="{{ link.url }}">{{ link.title }}</a></li>
                
                 {% endfor %}
                    </ul>   
                   
                  
                  </div>  
                  {% endif %}

                </ul>
            
             

              
                  
          {% endcase %}
              
          {% endfor %}
                  
              
           
      </div>
      <div class="filter_image">
        {%- render 'image-style' , image:section.settings.filter_image-%}
      </div>
             
        </div>
      {% endif %}

        <div class="collection__content">
          <div class="collection__header">
              {{collection.description}}
           </div>

          <div class="collection__handle">
              <div class="collection__tittle">
                  {{collection.title}} ({{collection.products_count}})
              </div>

              <div class="collection__control">
                  <div class="collections__Filter">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M3.853 54.87C10.47 40.9 24.54 32 40 32H472C487.5 32 501.5 40.9 508.1 54.87C514.8 68.84 512.7 85.37 502.1 97.33L320 320.9V448C320 460.1 313.2 471.2 302.3 476.6C291.5 482 278.5 480.9 268.8 473.6L204.8 425.6C196.7 419.6 192 410.1 192 400V320.9L9.042 97.33C-.745 85.37-2.765 68.84 3.854 54.87L3.853 54.87z"/></svg>
                  </div>
                  <div class="collection__sort">
                    <div class="custom-select">
                       <select id="sort-by" >
                          {% assign sort_by = collection.sort_by | default: collection.default_sort_by %}
                        
                          {% for option in collection.sort_options %}
                            <option class="sort__option" value="{{ option.value }}" {% if option.value == sort_by %}selected="selected"{% endif %}>
                              {{ option.name }}
                            </option>
                          {% endfor %}
                        </select>
                    </div>
                     
                  </div>
                  <div class="collection__itemDisplay">
                    <div class="custom-select">
                      <select name="" id="display">
                          <option value="10">10</option>
                          <option value="16">16</option>
                          <option value="32">32</option>
                          <option value="ALL">ALL</option>
                      </select>
                    </div>
                      
                  </div>
              </div>
             

          </div>

          <div class="collection__Productcontent">
             {% for product in collection.products %}
              
             {% render 'product-card' with product as product %}    
             {% endfor %}
              
            
          </div>
          <div class="collection__empty">
            <div class="collection__empty__pic">
                {% render 'icon-empty'%}
            </div>
            <h2 class="collection__empty-tittle">EMPTY</h2>
            <p class="collection__empty-text">There are no products matching the selection.</p>
          </div>
          <div class="collection__loadMore">
            Download More
           </div>
           {% if section.settings.paginate_type =='1' %}
            {% assign Ifinity = 1 %}
           {% endif %}
           {% if section.settings.paginate_type =='2' %}
            {% assign Ifinity = 2 %}
           {% endif %}
      </div>
      <div class="collection__overlay-wrapper">
        <div class="collection__overlay"></div>
      </div>

      </div>
      
    <!-- </div> -->
    <script>
      var collection_handle= '{{collection.handle  | capitalize}}';
      var collection_title= '{{collection.title  }}';
      var product_count= '{{collection.products_count}}';
      var ifinity= '{{Ifinity}}';
    </script>
  <script id="collection_settings" type="application/ld+json">
    {
       
    }
</script> 
    

</section>


<!-- render first -->
{% if section.settings.loading_type =='1' %}
<script src=" {{ 'filter.js' | asset_url }}" defer></script>
{% endif %}
{% if section.settings.loading_type =='2' %}
<script src="{{ 'collection-ajax.js' | asset_url }}" defer></script>
{% endif %}
<script src="{{ 'collection.js' | asset_url }}" defer></script>
{% schema %}
{
  "name": "Collection",
  "tag": "section",
  "settings": [
            {
            "type": "image_picker",
            "id": "filter_image",
            "label": "Filter image"
            },
            {
              "type": "select",
              "id": "loading_type",
              "label": "Choose Loading Type",
              "options": [
                {
                  "value": "1",
                  "label": "Reload Page"
                },
                {
                  "value": "2",
                  "label": "Ajax"
                }
               
              ],
              "default": "1"
            },
            {
              "type": "select",
              "id": "paginate_type",
              "label": "Choose Style (only for Ajax)",
              "options": [
                {
                  "value": "1",
                  "label": "Ifinity Load"
                },
                {
                  "value": "2",
                  "label": "Download More button"
                }
               
              ],
              "default": "1"
            }
  ],
  "blocks": [
     {
       "name": "Filter",
       "type": "Add_Filter",
       "settings": [
            {
                "type":"text",
                "id":"tags_Heading",
                "label":"Enter Tags Heading"
            },
            {
              "type": "select",
              "id": "FilterBy",
              "label": "Choose Filter",
              "options": [
                {
                  "value": "1",
                  "label": "Normal Filter"
                },
                {
                  "value": "2",
                  "label": "Color Filter"
                },
                {
                  "value": "3",
                  "label": "Menu Filter"
                }

               
              ],
              "default": "1"
            },
            {
                "type": "textarea",
                "id": "tags",
                "label": "Enter Tags"
               
            },
            {
              "type": "link_list",
              "id": "menu",
              "label": "Select Menu "
            }
       ]
     }
    
     

   ]
}
{% endschema %}