<link rel="stylesheet" href="{{ 'footer.css' | asset_url }}">

{% style %}
.footer__logo img{
    width: {{ section.settings.Icon_width }}px;
    height: {{ section.settings.Icon_heigth }}px;
}
.paymentIcon > img{
   width:  {{ block.settings.PaymentIcon_width }}px;;
   height:  {{ block.settings.PaymentIcon_height }}px;;
}
{% endstyle %}


<footer class="footer">
   {% for block in section.blocks %}
   <div class="footer__inner">
      {% case block.type %}
      {% when 'add_Form' %}
      {% if block.settings.show_content %}
      <div class="footer__emailForm">
         <div class="Email__Wrapper">
            <div class="emailForm_title">{{block.settings.Form_title}}</div>
         <div class="emailForm">
            <div class="emailFormWarp">
               <div class="emailForm__input">
                  <input type="text" placeholder="{{block.settings.placehoder_text}}">
               </div>
               <div class="emailForm__button"><a href="">{{block.settings.button_text}} </a> </div>
            </div>
         </div>
         {% if block.settings.show_icons %}
         <ul class="emailForm_socialIcons">
            <li class="socialIcon">
               <a href="{{block.settings.FaceBook}}">
                  {% render 'icon-facebook' %}
               </a>
            </li>
            <li class="socialIcon">
               <a href="{{block.settings.Twitter}}">
                  {% render 'icon-twitter' %}
               </a>
            </li>
            <li class="socialIcon">
               <a href="{{block.settings.Gmail}}">
                  {% render 'icon-gmail' %}
               </a>
            </li>
            <li class="socialIcon">
               <a href="{{block.settings.Instagram}}">
                  {% render 'icon-instagram' %}
               </a>
            </li>
            <li class="socialIcon">
               <a href="{{block.settings.Whatsapp}}">
                  {% render 'icon-whatsapp' %}
               </a>
            </li>
            <li class="socialIcon">
               <a href="{{block.settings.pinterest}}">
                  {% render 'icon-pinterest' %}
               </a>
            </li>
            </ul>
         {% endif %}
         
         
         </div>
      </div>   
      {% endif %}
      {% when 'add_FooterMenu' %}
     
         
      
      <div class="footer__menu"  {{ block.shopify_attributes }}>
         {% if block.settings.show_content %}
         <div class="menu_wrap">
                  <div class="menu__col">
                     <h4 class="col__title">
                        <div class="tittle_text">{{block.settings.Col1_title}} </div>
                        <div class="menu__controlIcon">
                            {% render 'icon-plus' %}
                        </div>
                        <div class="menu__controlIcon minus">
                           {% render 'icon-minus' %}
                        </div>
                     </h4>
                     <div class="collaspe_content">
                     <ul class="list">
                        {% for link in linklists[block.settings.menu].links %}
                      
                         <li> <a  class="navMenu__menuOption" href="{{ link.url }}">{{ link.title }}</a></li>
                   
                    {% endfor %}
                     </ul>   
                     </div>
                  </div>
                 
                  <div class="menu__col" >
                     <h4 class="col__title">
                        <div class="tittle_text"> {{block.settings.Col2_title}}</div>
                        <div class="menu__controlIcon">
                            {% render 'icon-plus' %}
                        </div>
                        <div class="menu__controlIcon minus">
                           {% render 'icon-minus' %}
                        </div>
                     </h4>
                     
                     <div class="collaspe_content">
                        <ul class="list">
                           {% for link in linklists[block.settings.menu2].links %}
                         
                            <li> <a  class="navMenu__menuOption" href="{{ link.url }}">{{ link.title }}</a></li>
                      
                       {% endfor %}
                        </ul>   
                        </div>
                  </div>
                  
                  <div class="menu__col">
                     <h4 class="col__title">
                        <div class="tittle_text"> {{block.settings.Col3_title}}</div>
                        <div class="menu__controlIcon">
                            {% render 'icon-plus' %}
                        </div>
                        <div class="menu__controlIcon minus">
                           {% render 'icon-minus' %}
                        </div>
                     </h4>
                     {{block.settings.html}}
                     <!-- <div class="collaspe_content">
                        <ul class="list">
                           <li><a href="/search">Pay less and buy more with https://www.buyboatfridges.com/</a></li>
                          
                        </ul>   
                        </div> -->
                  </div>
                
                  <div class="menu__col" >
                     <h4 class="col__title">
                        <div class="tittle_text">{{block.settings.Col4_title}} </div>
                        <div class="menu__controlIcon">
                            {% render 'icon-plus' %}
                        </div>
                        <div class="menu__controlIcon minus">
                           {% render 'icon-minus' %}
                        </div>
                     </h4>
                     
                     {{block.settings.html2}}
                     <!-- <div class="collaspe_content">
                     <ul class="list">
                        <li><a href="/search">PHONE:+1 (305) 999 5212</a></li>
                        <li><a href="/search">HOURS: 24/7 Customer Support</a></li>

                        <li><a href="/search"> <p>EMAIL:</p>  <p class="list-email"> sales@buyboatfridges.com</p> </a></li>
                     
                     </ul>   
                     </div> -->
                  </div> 
                  {% endif %}
               {% endcase %}
            
          
         </div>


    
         {% endfor %}
          <div class="footer_scrolltoTop_button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M352 352c-8.188 0-16.38-3.125-22.62-9.375L192 205.3l-137.4 137.4c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25l160-160c12.5-12.5 32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25C368.4 348.9 360.2 352 352 352z"/></svg>
          </div>  
      </div>
      
      
      <div class="footer__copyRight">
         <div class="copyRight__wrapper">
            <div class="footer__logo">   <img src=" {{ section.settings.image | img_url:'small'}} " /></div>
            <div class="footer__text">{{section.settings.copyRight}}</div>
         </div>
         {% for block in section.blocks %}
      
         {% case block.type %}
            {% when 'add_PaymentIcons' %}

            {% if block.settings.show_content %}
            <div class="paymentMethod_Wrapper">
               <div class="paymentIcon">
                  <a href=""> <img src=" {{ block.settings.icon1 | img_url:'small'}} " /></a>        
              </div>
               <div class="paymentIcon">
                  <a href=""><img src=" {{ block.settings.icon2 | img_url:'small'}} " /></a>               
               </div>
               <div class="paymentIcon">
                  <a href=""><img src=" {{ block.settings.icon3 | img_url:'small'}} " /></a>                 
               </div>
               <div class="paymentIcon">
                  <a href=""><img src=" {{ block.settings.icon4 | img_url:'small'}} " /></a>            
               </div>
               <div class="paymentIcon">
                  <a href=""> <img src=" {{ block.settings.icon5 | img_url:'small'}} " /></a>              
               </div>
               <div class="paymentIcon">
                  <a href=""> <img src=" {{ block.settings.icon6 | img_url:'small'}} " /></a>    
               </div>
               <div class="paymentIcon">
                  <a href=""> <img src=" {{ block.settings.icon7 | img_url:'small'}} " /></a>
               </div>
               <div class="paymentIcon">
                  <a href=""><img src=" {{ block.settings.icon8 | img_url:'small'}} " /></a>
               </div>
         </div>
            {% endif %}
           
         {% endcase %}
            
         {% endfor %}
         
         
      </div>


   </div>
   
</footer>
<script src="{{ 'footer.js' | asset_url }}" defer></script>

{% schema %}
{
   "name": "Footer",
   "tag": "section",
   "settings": [
    {
      "type":"text",
      "id":"copyRight",
      "label":"Edit copyRight Text",
      "default":"@2022 BUYBOATFRIDGES. All Rights Reserved"
    },
    {
      "type":"image_picker",
      "id":"image",
      "label":"Icon Image"
     
    },
    {
      "type":"text",
      "id":"Icon_width",
      "label":"Adjust Icon Width",
      "default":"45"
    },
    {
      "type":"text",
      "id":"Icon_heigth",
      "label":"Adjust Icon Height",
      "default":"25"
    }

    
   ],
   "blocks": [
   
   {
      "type":"add_Form",
      "name":"Subsribe Form",
      "limit":1,
      "settings": [
      {
         "type":"checkbox",
         "id":"show_content",
         "label":"Show Content",
         "default":true
       },
      {
         "type":"text",
         "id":"Form_title",
         "label":"Edit Form Text",
         "default":"FOR EXCLUSIVE DEALS"
       },
       {
         "type":"text",
         "id":"button_text",
         "label":"Edit Button Text",
         "default":"JOIN US"
       },
       {
         "type":"text",
         "id":"placehoder_text",
         "label":"Edit Place Holder Text",
         "default":"Enter your e-mail"
       },
       {
         "type": "header",
         "content": "SOCIAL ICONS"
       },
       {
         "type":"checkbox",
         "id":"show_icons",
         "label":"Show Social Icons",
         "default":true
       },
       {
         "type":"url",
         "id":"FaceBook",
         "label":"FaceBook"       
       },
       {
         "type":"url",
         "id":"Twitter",
         "label":"Twitter"       
       },
       {
         "type":"url",
         "id":"Gmail",
         "label":"Gmail"       
       },
       {
         "type":"url",
         "id":"Instagram",
         "label":"Instagram"       
       },
       {
         "type":"url",
         "id":"Whatsapp",
         "label":"Whatsapp"       
       },
       {
         "type":"url",
         "id":"pinterest",
         "label":"Pinterest"       
       }





       

      ]
   
   },
   {
      "type":"add_PaymentIcons",
      "name":"Payment Icons",
      "limit":1,
      "settings": [
      {
         "type":"checkbox",
         "id":"show_content",
         "label":"Show Content",
         "default":true
       },
       {
         "type":"text",
         "id":"PaymentIcon_width",
         "label":"Adjust Icon Width",
         "default":"20"
       },
       {
         "type":"text",
         "id":"PaymentIcon_height",
         "label":"Adjust Icon Height",
         "default":"20"
       },
       {
         "type":"image_picker",
         "id":"icon1",
         "label":"Icon1 Image"
        
       },
       {
         "type":"url",
         "id":"link1",
         "label":"Payment Link 1"       
       },
       {
         "type":"image_picker",
         "id":"icon2",
         "label":"Icon2 Image"
        
       },
       {
         "type":"url",
         "id":"link2",
         "label":"Payment Link 2"       
       },
       {
         "type":"image_picker",
         "id":"icon3",
         "label":"Icon3 Image"
        
       },
       {
         "type":"url",
         "id":"link3",
         "label":"Payment Link 3"       
       },
       {
         "type":"image_picker",
         "id":"icon4",
         "label":"Icon4 Image"
        
       },
       {
         "type":"url",
         "id":"link4",
         "label":"Payment Link 4"       
       },
       {
         "type":"image_picker",
         "id":"icon5",
         "label":"Icon5 Image"
       },
       {
         "type":"url",
         "id":"link5",
         "label":"Payment Link 5"       
       },
       {
         "type":"image_picker",
         "id":"icon6",
         "label":"Icon6 Image"
        
       },
       {
         "type":"url",
         "id":"link6",
         "label":"Payment Link 6"       
       },
       {
         "type":"image_picker",
         "id":"icon7",
         "label":"Icon7 Image"
       },
       {
         "type":"url",
         "id":"link7",
         "label":"Payment Link 7"       
       },
       {
         "type":"image_picker",
         "id":"icon8",
         "label":"Icon8 Image"
        
       },
       {
         "type":"url",
         "id":"link8",
         "label":"Payment Link 8"       
       }

            
     
      ]
   
   },
   {
      "type":"add_FooterMenu",
      "name":"Footer Menu",
      "limit":1,
      "settings": [
      {
         "type":"checkbox",
         "id":"show_content",
         "label":"Show Content",
         "default":true
      },
      {
         "type":"text",
         "id":"Col1_title",
         "label":"Title 1"
        
      },
      {
         "type": "link_list",
         "id": "menu",
         "label": "Footer menu"
      },
      {
         "type":"text",
         "id":"Col2_title",
         "label":"Title 2"
        
      },
      {
         "type": "link_list",
         "id": "menu2",
         "label": "Footer menu"
      },
      {
         "type":"text",
         "id":"Col3_title",
         "label":"Title 3"
        
      },
      {
         "type":"html",
         "id":"html",
         "label":"Custom HTML"
        
      },
      {
         "type":"text",
         "id":"Col4_title",
         "label":"Title 4"
        
      },
      {
         "type":"html",
         "id":"html2",
         "label":"Custom HTML"
        
      }

    
      ]
   
   }
  
   ]
   


   
  
}
{% endschema %}