<link rel="stylesheet" href="{{ 'footer.css' | asset_url }}">


<footer class="footer">
   <div class="footer__inner">
      <div class="footer__menu"  {{ block.shopify_attributes }}>
         {% if section.settings.show_content %}
         <div class="menu_wrap">
                  <div class="menu__col">
                     <h4 class="col__title">
                        <div class="tittle_text">{{section.settings.Col1_title}} </div>
                        <div class="menu__controlIcon">
                            {% render 'icon-plus' %}
                        </div>
                        <div class="menu__controlIcon minus">
                           {% render 'icon-minus' %}
                        </div>
                     </h4>
                     <div class="collaspe_content">
                     <ul class="list">
                        {% for link in linklists[section.settings.menu].links %}
                      
                         <li> <a  class="navMenu__menuOption" href="{{ link.url }}">{{ link.title }}</a></li>
                   
                    {% endfor %}
                     </ul>   
                     </div>
                  </div>               
                  <div class="menu__col" >
                     <h4 class="col__title">
                        <div class="tittle_text"> {{section.settings.Col2_title}}</div>
                        <div class="menu__controlIcon">
                            {% render 'icon-plus' %}
                        </div>
                        <div class="menu__controlIcon minus">
                           {% render 'icon-minus' %}
                        </div>
                     </h4>                   
                     <div class="collaspe_content">
                        <ul class="list">
                           {% for link in linklists[section.settings.menu2].links %}
                         
                            <li> <a  class="navMenu__menuOption" href="{{ link.url }}">{{ link.title }}</a></li>
                      
                       {% endfor %}
                        </ul>   
                        </div>
                  </div>                 
                  <div class="menu__col">
                     <h4 class="col__title">
                        <div class="tittle_text"> {{section.settings.Col3_title}}</div>
                        <div class="menu__controlIcon">
                            {% render 'icon-plus' %}
                        </div>
                        <div class="menu__controlIcon minus">
                           {% render 'icon-minus' %}
                        </div>
                     </h4>  
                        <div class="collaspe_content">
                           <div class="list">
                              {{section.settings.AboutUs_text}}
                           </div>
                 
                        </div> 
                  </div>               
                  <div class="menu__col" >
                     <h4 class="col__title">
                        <div class="tittle_text"> {{section.settings.Col4_title}}</div>
                        <div class="menu__controlIcon">
                            {% render 'icon-plus' %}
                        </div>
                        <div class="menu__controlIcon minus">
                           {% render 'icon-minus' %}
                        </div>
                     </h4>  
                     <div class="collaspe_content">
                        <div class="list">
                           {{section.settings.ContactUs_text}}
                        </div>
                     </div> 
                    
                  </div> 
                  {% endif %}   
         </div>
          <div class="footer_scrolltoTop_button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M352 352c-8.188 0-16.38-3.125-22.62-9.375L192 205.3l-137.4 137.4c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25l160-160c12.5-12.5 32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25C368.4 348.9 360.2 352 352 352z"/></svg>
          </div>  
      </div>
      
      
     


   </div>
   
</footer>
<script src="{{ 'footer.js' | asset_url }}" defer></script>

{% schema %}
{
   "name": "Footer",
   "tag": "section",
   "settings": [
   {
      "type":"checkbox",
      "id":"show_content",
      "label":"Show Content",
      "default":true
   },
   {
      "type":"text",
      "id":"Col1_title",
      "label":"Title 1"
     
   },
   {
      "type": "link_list",
      "id": "menu",
      "label": "Footer menu"
   },
   {
      "type":"text",
      "id":"Col2_title",
      "label":"Title 2"
     
   },
   {
      "type": "link_list",
      "id": "menu2",
      "label": "Footer menu"
   },
   {
      "type":"text",
      "id":"Col3_title",
      "label":"Title 3"
     
   },
   {
      "type": "richtext",
      "id": "AboutUs_text",
      "label": "Edit"
   },
   {
      "type":"text",
      "id":"Col4_title",
      "label":"Title 4"
     
   },
   {
      "type": "richtext",
      "id": "ContactUs_text",
      "label": "Edit Contact Us Text"
   }
   ]

}
{% endschema %}