<link rel="stylesheet" href="{{ 'footer.css' | asset_url }}">
<footer class="footer">
   <div class="footer__inner">
      <div class="footer__menu"  {{ block.shopify_attributes }}>
         {% if section.settings.show_content %}
         <div class="menu_wrap">

            {% for block in section.blocks %}
            {% case block.type %}
               {% when 'add_menu' %}
                  {% if block.settings.Menu_layout == '1' %}
                  <div class="menu__col" {{ block.shopify_attributes }}>
                     <h4 class="col__title">
                        <div class="tittle_text">{{block.settings.Col_title}} </div>
                        <div class="menu__controlIcon">
                            {% render 'icon-plus' %}
                        </div>
                        <div class="menu__controlIcon minus">
                           {% render 'icon-minus' %}
                        </div>
                     </h4>
                     <div class="collaspe_content">
                     <ul class="list">
                        {% for link in linklists[block.settings.menu].links %}
                      
                         <li> <a  class="navMenu__menuOption" href="{{ link.url }}">{{ link.title }}</a></li>
                   
                    {% endfor %}
                     </ul>   
                     </div>
                  </div>   
                  {% endif %}
                  {% if block.settings.Menu_layout == '2' %}
                  <div class="menu__col" {{ block.shopify_attributes }}>
                     <h4 class="col__title">
                        <div class="tittle_text"> {{block.settings.Col_title}}</div>
                        <div class="menu__controlIcon">
                            {% render 'icon-plus' %}
                        </div>
                        <div class="menu__controlIcon minus">
                           {% render 'icon-minus' %}
                        </div>
                     </h4>  
                     <div class="collaspe_content">
                        <div class="list">
                           {{block.settings.Menu_content}}
                        </div>
                     </div> 
                    
                  </div> 
                  {% endif %}
               
                  
            {% endcase %}
               
            {% endfor %}
                            
                                
                               
                 
                  {% endif %}   
         </div>
          <div class="footer_scrolltoTop_button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M352 352c-8.188 0-16.38-3.125-22.62-9.375L192 205.3l-137.4 137.4c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25l160-160c12.5-12.5 32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25C368.4 348.9 360.2 352 352 352z"/></svg>
          </div>  
      </div>    
         <div class="footer__copyRight">
               <div class="copyRight__wrapper">
                  <div class="copyRight__left__col">
                     <div class="footer__logo">   <img src=" {{ section.settings.image | img_url:'small'}} " /></div>
                     <div class="footer__text">{{section.settings.copyRight}}</div>
                  </div>
                  {% if section.settings.show_payment %}
                  <div class="paymentMethod_Wrapper">
   
                     {% for block in section.blocks %}
                     {% case block.type %}
                        {% when 'payment_icon' %}
                        <div class="paymentIcon">
                           <a href="{{block.settings.payment_link}}"> <img src=" {{ block.settings.icon | img_url:'small'}} " /></a>        
                       </div>
                       
                           
                     {% endcase %}
                        
                     {% endfor %}
                    
                     
                  </div>
                  {% endif %}
               </div>
               </div>    
   </div>
   
</footer>
<script src="{{ 'footer.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "Footer",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_content",
      "label": "Show content"
    },
    {
      "type":"checkbox",
      "id":"show_payment",
      "label":"Show payment method",
      "default":true
   },
  {
    "type": "image_picker",
    "id": "image",
    "label": "Pick icon image"
  },
  {
   "type": "text",
   "id": "copyRight",
   "label": "Edit copyright"
 }

  ],
  "blocks": [
     {
       "name": "Menu Col",
       "limit":4,
       "type": "add_menu",
       "settings": [
       {
         "type": "text",
         "id": "Col_title",
         "label": "Tittle for menu"
       },
       {
         "type": "select",
         "id": "Menu_layout",
         "label": "Show menu layout",
         "options": [
           {
             "value": "1",
             "label": "1"
           },
           {
             "value": "2",
             "label": "2"
           }
           
         ],
         "default": "1"
       },
          {
         "type": "link_list",
         "id": "menu",
         "label": "Footer menu (content for layout 1)"
          },
          {
            "type": "richtext",
            "id": "Menu_content",
            "label": "Content for layout 2"
          
          }
       ]
     },
      {
      "name": "Payment Icon",
      "type": "payment_icon",
      "limit":8,
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Pick payment icon image"
        },
        {
         "type": "url",
         "id": "payment_link",
         "label": "Edit payment link"
       }
        
      ]
    }
   ]
}
{% endschema %}