<link rel="stylesheet" href="{{ 'header.css' | asset_url }}">
<script src=" {{ 'cart-quick-view.js' | asset_url }}" defer></script>

<div class="header__inner ">
    <div class="header__userLogin">
        <div class="header__login"><a href="{{ routes.account_login_url }}">{{ 'sections.header.login' | t }}</a></div>
        <div class="header__register"><a href="{{ routes.account_register_url }}">{{ 'sections.header.register' | t }}</a></div>
    </div>
    <div class="header__container">
        <div class="headerMobile__iconMenu">
            <img src="{{ section.settings.iconMenu | image_url }}" alt="{{ section.settings.iconMenu.alt }}" class="headerMobile__iconMenu-icon" />
        </div>
        <div class="header__logo">
            <a href="{{ routes.root_url }}" class="">
                {%- if section.settings.logoDestopWidth == blank -%}
                    {%- assign logoDestopWidth = 115 -%}
                {%- else -%}
                    {%- assign logoDestopWidth = section.settings.logoDestopWidth -%}
                {% endif %}
                
                {%- if section.settings.logoMobileWidth == blank -%}
                    {%- assign logoMobileWidth = 115-%}
                {%- else -%}
                    {%- assign logoMobileWidth = section.settings.logoMobileWidth -%}
                {%- endif -%}
                {% comment %} <div class="header__logoDestop">
                    {%- render "image-style" , image: section.settings.logoDestop , width: logoDestopWidth -%}
                </div>
                <div class="header__logoMobile">
                    {%- render "image-style" , image: section.settings.logoMobile , width: logoMobileWidth -%}
                </div> {% endcomment %}
                <img src="{{ section.settings.logoDestop | image_url: width: logoDestopWidth  }}" alt="{{ section.settings.logoDestop.alt }}" class="header__logoDestop" />
                <img src="{{ section.settings.logoMobile | image_url: width: logoMobileWidth  }}" alt="{{ section.settings.logoMobile.alt }}" class="header__logoMobile" /> 
            </a>
        </div>
        
        <div class="header__contactAndCart">
            <div class="header__contact">
                <div class="header__contact-icon">
                    <img src="{{ section.settings.iconContact | image_url }}" alt="{{ section.settings.iconContact.alt }}" class="header__contact-iconContact" />
                </div>
                <div class="header__contact-number">{{ section.settings.contact_text }}</div>
            </div>
            <div class="header__myCart">
                <div class="header__myCart-icon">
                    <img src="{{ section.settings.iconCart | image_url }}" alt="{{ section.settings.iconCart.alt }}" class="header__account-iconCart"/>
                    <div class="header__myCart-qty">{{ cart.item_count }}</div>
                </div>
                <div class="header__myCart-text">{{ section.settings.cart_text }}</div>
            </div>
            <div class="header__account">
                <a href="{{ routes.account_url }}}" class="">
                    <img src="{{ section.settings.iconUser | image_url }}" class="header__account-iconUser" alt="{{ section.settings.iconUser.alt }}"/>
                </a>
            </div>
            <div class="miniCartDestop__wrap" style="display: none">
                <cart-quick-view class="cartQuickView" >
                    <div class="cartQuickView__inner" >
                            {%- if cart.item_count == 0 -%}
                                <a href="{{ routes.cart_url }}" class="">
                                    <div class="cartQuickView__emptyCart">
                                        <div class="cartQuickView__emptyCart-icon">
                                            <img src="//cdn.shopify.com/s/files/1/0550/1714/4497/files/shopping-bag.png?v=1655886064"/>
                                        </div>
                                        <div class="cartQuickView__emptyCart-text">{{ 'sections.cart-quickView.emptyCart' | t }}</div>
                                    </div>    
                                </a>
                            {%- else -%}
                                {%- form 'cart', cart -%}
                                    <div class="cartQuickView__contentCont">
                                        {%- for item in cart.items -%}
                                            <div class="cartQuickView__productLine">
                                                <div class="cartQuickView__productLine-imgCont">
                                                    <a href="{{ item.url }}" class="w100 h100">
                                                        {%- render "image-style" , image: item.image -%}
                                                    </a>
                                                </div>
                                                <div class="cartQuickView__productLine-productInfo">
                                                    
                                                    <div class="cartQuickView__productLine-productTitle">
                                                        <a href="{{ item.url }}" >
                                                            {%- if item.properties.preOrder != nil -%}
                                                                {{ item.title }} <span>[PRE-ORDER]</span>
                                                            {%- else -%}
                                                                {{ item.title }}
                                                            {%- endif -%}
                                                        </a>
                                                    </div>
                                                    <div class="cartQuickView__productLine-qtyAndPrice">
                                                        <span class="cartQuickView__productLine-qty">{{ item.quantity }} &times; </span>
                                                        <span class="cartQuickView__productLine-price">{{ item.price | money }}</span>
                                                    </div>
                                                </div>
                                                <cart-remove-button class="cartQuickView__productLine-removeIcon" data-idProduct="{{ item.variant_id }}">
                                                    <a href="{{ item.url_to_remove }}">
                                                        {%- render 'icon-remove' -%}
                                                    </a>
                                                    <div class="cartQuickView__productLine-spinner"></div>
                                                </cart-remove-button>
                                            </div>
                                        {%- endfor -%}
                                    </div>
                                    <div class="cartQuickView__totalCart">
                                        <div class="cartQuickView__totalCart-text">{{ 'sections.cart-quickView.total' | t }}:</div>
                                        <div class="cartQuickView__totalCart-total">{{ cart.total_price | money }}</div>
                                    </div>
                                    <div class="cartQuickView__checkOutCont">
                                        {%- render 'snippet-checkout-term' -%}
                                    </div>
                                {%- endform -%}
                                <div class="cartQuickView__viewCartBtn">
                                    <a href="{{ routes.cart_url }}" class="">
                                        <button class="cartQuickView__viewCartBtn-btn">{{ 'sections.cart-quickView.viewCart' | t }}</button>
                                    </a>
                                </div>
                            {%- endif -%}
                    </div>
                </cart-quick-view>
            </div>
        </div>

    </div>
    <div class="header__productSearch">
        <div class="header__productMenu">
            <div class="header__productMenu-title">{{ 'sections.header.product' | t }}</div>
            <ul class="header__megaMenu">
                {% for collection in collections  %}
                    <li class="header__megaMenu-option">
                        <a href="{{ collection.url }}" class=""> {{ collection.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <form action="{{ routes.search_url }}" style="flex:1">
            <input type="text"
                placeholder="{{ 'sections.header.search' | t }}"
                name="q"
                value="{{ search.terms | escape }}"
                class="header__productSearch-input"
            >
        </form>

    </div>
    <div class="menuMobile__container">
        <div class="menuMobile__header">
            <span class="menuMobile__header-title">{{ 'sections.header.menu' | t }}</span>
            <div class="menuMobile__header-icon">
                {% render 'icon-close' %}
            </div>
        </div>
        <div class="menuMobile__content">
            <ul class="menuMobile__menuShow">
                {% for collection in collections %}
                    <li class="menuMobile__menuShow-option">
                        <a href="{{ collection.url }}" class=""> {{ collection.title }}</a>
                    </li>
                {% endfor %}

            </ul>
        </div>
        <div class="menuMobile__footer">
            <div class="menuMobile__contact">
                <div class="menuMobile__contact-icon">
                    {% render 'icon-contact' %}
                </div>
                <div class="menuMobile__contact-text">{{ 'sections.header.contact' | t }}</div>
            </div>
        </div>
    </div>
</div>
<div class="menuMobile">
    <div class="menuMobile__overlay">

    </div>
</div>
<div class="miniCartMobile"  style="display: none;">
    <div class="miniCartMobile__overlay">
        <div class="miniCartMobile__content">
            <div class="miniCartMobile__title">
                <div class="miniCartMobile__title-text">{{ 'sections.cart-quickView.title' | t }}</div>
                <div class="miniCartMobile__title-icon"> {%- render 'icon-X' -%}</div>
            </div>
            <div class="miniCartMobile__wrap">
                <cart-quick-view class="cartQuickView p-0 miniCartMobileUpdate"  >
                    <div class="cartQuickView__inner" >
                            {%- if cart.item_count == 0 -%}
                                <a href="{{ routes.cart_url }}" class="">
                                    <div class="cartQuickView__emptyCart">
                                        <div class="cartQuickView__emptyCart-icon">
                                            <img src="//cdn.shopify.com/s/files/1/0550/1714/4497/files/shopping-bag.png?v=1655886064"/>
                                        </div>
                                        <div class="cartQuickView__emptyCart-text">{{ 'sections.cart-quickView.emptyCart' | t }}</div>
                                    </div>    
                                </a>
                            {%- else -%}
                                {%- form 'cart', cart -%}
                                    <div class="cartQuickView__contentCont">
                                        {%- for item in cart.items -%}
                                            <div class="cartQuickView__productLine">
                                                <div class="cartQuickView__productLine-imgCont">
                                                    <a href="{{ item.url }}" class="w100 h100">
                                                        {%- render "image-style" , image: item.image -%}
                                                    </a>
                                                </div>
                                                <div class="cartQuickView__productLine-productInfo">
                                                    <div class="cartQuickView__productLine-productTitle">
                                                        <a href="{{ item.url }}" >
                                                            {%- if item.properties.preOrder != nil -%}
                                                                {{ item.title }} <span>[PRE-ORDER]</span>
                                                            {%- else -%}
                                                                {{ item.title }}
                                                            {%- endif -%}
                                                        </a>
                                                    </div>
                                                    <div class="cartQuickView__productLine-qtyAndPrice">
                                                        <span class="cartQuickView__productLine-qty">{{ item.quantity }} &times; </span>
                                                        <span class="cartQuickView__productLine-price">{{ item.price | money }}</span>
                                                    </div>
                                                </div>
                                                <cart-remove-button class="cartQuickView__productLine-removeIcon" data-idProduct="{{ item.variant_id }}">
                                                    <a href="{{ item.url_to_remove }}">
                                                        {%- render 'icon-remove' -%}
                                                    </a>
                                                    <div class="cartQuickView__productLine-spinner"></div>
                                                </cart-remove-button>
                                            </div>
                                        {%- endfor -%}
                                    </div>
                                    <div class="cartQuickView__totalCart">
                                        <div class="cartQuickView__totalCart-text">{{ 'sections.cart-quickView.total' | t }}:</div>
                                        <div class="cartQuickView__totalCart-total">{{ cart.total_price | money }}</div>
                                    </div>
                                    <div class="cartQuickView__checkOutCont">
                                        {%- render 'snippet-checkout-term' -%}
                                    </div>
                                {%- endform -%}
                                <div class="cartQuickView__viewCartBtn">
                                    <a href="{{ routes.cart_url }}" class="">
                                        <button class="cartQuickView__viewCartBtn-btn">{{ 'sections.cart-quickView.viewCart' | t }}</button>
                                    </a>
                                </div>
                            {%- endif -%}
                    </div>
                </cart-quick-view>
            </div>
        </div>
    </div>
</div>
<script src=" {{ 'header.js' | asset_url }}" defer></script>
{% if section.settings.enableSticky %}
    <script src=" {{ 'sticky-menu.js' | asset_url }}" defer></script>
{% endif %}


{% schema %}
    {
        "name": "Header",
        "settings":[
            {
                "type":"header",
                "content":"Header Settings"
            },
            {
                "type":"checkbox",
                "id":"enableSticky",
                "label":"Enabel sticky header",
                "default":true
            },
            {
                "type":"header",
                "content":"Header Customize"
            },
            {
                "type":"header",
                "content":"Setting Logo"
            },
            {
                "type":"image_picker",
                "id":"logoDestop",
                "label":"Choose logo when show in Destop Screen: "
            },
            {
                "type":"text",
                "id":"logoDestopWidth",
                "label": "Logo destop width: "
            },
            {
                "type":"image_picker",
                "id":"logoMobile",
                "label":"Choose logo when show in Mobile Screen: "
            },
            {
                "type":"text",
                "id":"logoMobileWidth",
                "label": "Logo mobile width: "
            },
            {
                "type":"header",
                "content":"Setting Svg+Content"
            },
            {
                "type":"image_picker",
                "id":"iconContact",
                "label": "Choose icon for contact: "
            },
            {
                "type":"text",
                "id":"contact_text",
                "label":"Your contact:",
                "default":"+1 (305) 999 5212"
            },
            {
                "type":"image_picker",
                "id":"iconCart",
                "label": "Choose icon for cart: "
            },
            {
                "type":"text",
                "id":"cart_text",
                "label":"Your text cart:",
                "default":"My cart"
            },
            {
                "type":"image_picker",
                "id":"iconUser",
                "label": "Choose icon for user: "
            },
            {
                "type":"image_picker",
                "id":"iconMenu",
                "label": "Choose icon for menu: "
            }
        ]
    }
{% endschema %}