<link rel="stylesheet" href="{{ 'main-cart.css' | asset_url }}">
<script>console.log({{ cart | json }})</script>
<script src=" {{ 'cart.js' | asset_url }}" defer></script>
<script src=" {{ 'cart-popup.js' | asset_url }}" defer></script>
<script src=" {{ 'shipping-calculator.js' | asset_url }}" defer></script>
<div class="breadcrumb">
    <div class="breadcrumb__inner">
        <div class="breadcrumb__option">
            <a href="{{ routes.root_url }}" class="">Home</a>
        </div>
        
        <div class="breadcrumb__option">
            <a href="{{ routes.cart_url }}" class="">{{ 'sections.cart.cartBreadcrumb' | t }}</a>
        </div>
    </div>
</div>
<main-cart class="cartPage">
    {%- if cart.item_count != 0 -%}
        {%- form 'cart' , cart -%}
        <div class="cartPage__inner">
            <div class="cartPage__title">{{ 'sections.cart.title' | t }}</div>
            <div class="cartPage__items">
                {%- for item in cart.items -%}
                    <div class="cartPage__item">
                        <div class="cartPage__imgItem">
                            <a href="{{ item.url }}" class="w100 h100">
                                {%- render "image-style" , image: item.image -%}
                            </a>
                        </div>
                        <div class="cartPage__itemInfo">        
                            <div class="cartPage__itemInfo-productName">
                                <a href="{{ item.url }}" >
                                    {{ item.title }}
                                </a>
                            </div>
                            <div class="cartPage__itemInfo-productPrice">{{ item.price | money }}</div>
                            <maincart-qty-field class="cartPage__qtyField" data-idProduct="{{ item.variant_id }}">
                                <button class="cartPage__qtyField-minusBtn" name="minus" type="button">-</button>
                                <input name="updates[]" type="text" class="cartPage__qtyField-inputQty" value="{{ item.quantity }}"  >
                                <div class="cartPage__qtyField-spinnerCont">
                                    <div class="cartPage__removeBtn-spinner"></div>
                                </div>
                                <button class="cartPage__qtyField-plusBtn" name="plus" type="button">+</button> 
                            </maincart-qty-field>
                            <div class="cartPage__itemInfo-productTotal">{{ item.line_price | money }}</div>
                        </div>
                        <maincart-remove-button class="cartPage__removeBtn" data-idProduct="{{ item.variant_id }}">
                            <a href="{{ item.url_to_remove }}">
                                {%- render 'icon-remove' -%}
                            </a>
                            <div class="cartPage__removeBtn-spinner"></div>
                        </maincart-remove-button>
                    </div>
                {%- endfor -%}
            </div>
            <div class="cartPage__btnCont">
                <maincart-remove-all-button >
                    <div class="cartPage__clearCart">
                        <div class="cartPage__clearCart-icon">{%- render 'icon-remove' -%}</div>
                        <div class="cartPage__clearCart-text">{{ 'sections.cart.cartClear' | t }}</div>
                    </div>
                    <div class="cartPage__removeBtn-spinner"></div>
                </maincart-remove-all-button>
                <div class="cartPage__continueShopping">
                    <a href="{{ routes.collections_url }}" class="cartPage__continueShopping">
                        <div class="cartPage__continueShopping-icon">{%- render 'icon-remove' -%}</div>
                        <div class="cartPage__continueShopping-text">{{ 'sections.cart.continueShopping' | t }}</div>
                    </a>
                </div>
            </div>
        </div>
        {%- endform -%}
        <div class="cartPage__cartBox cartPage__inner">
            <shipping-calculator class="cartPage__shipAndTax"  data-url="{{ routes.cart_url | append: '/shipping_rates.json' }}">
                <form action="{{ routes.cart_url }}" class="cartPage__form">
                    <div class="cartPage__shipAndTax-title">{{ 'sections.cart.estimateShip.title' | t }}</div>
                    <div class="cartPage__shipAndTax-subTitle">{{ 'sections.cart.estimateShip.subTitle' | t }}</div>
                    <div class="cartPage__formField">
                        <label class="cartPage__formField-label" for="addressCountry{{ object.id }}">{{ 'sections.cart.estimateShip.country' | t }} *</label>
                        <select class="cartPage__formField-select" id="addressCountry{{ object.id }}" name="shipping_address[country]" 
                            data-default="{% if shop.customer_accounts_enabled and customer %}{{ customer.default_address.country }}{% endif %}" required>
                            {{ country_option_tags }}
                        </select>
                    </div>
                    <div class="cartPage__formField">
                        <label class="cartPage__formField-label" for="addressProvince{{ object.id }}" >{{ 'sections.cart.estimateShip.province' | t }} *</label>
                        <select class="cartPage__formField-select" id="addressProvince{{ object.id }}" name="shipping_address[province]" 
                            data-default="{% if shop.customer_accounts_enabled and customer and customer.default_address.province != '' %}{{ customer.default_address.province }}{% endif %}">
                        </select>
                    </div>
                    <div class="cartPage__formField">
                        <label class="cartPage__formField-label" for="addressZip{{ object.id }}" >{{ 'sections.cart.estimateShip.postal' | t }}</label>
                        <input class="cartPage__formField-input" type="text" id="addressZip{{ object.id }}" name="shipping_address[zip]"{% if shop.customer_accounts_enabled and customer %} value="{{ customer.default_address.zip }}"{% endif %} required/>
                    </div>
                    <div class="cartPage__calculateShipBtn">
                        <button class="cartPage__calculateShipBtn-btn" type="submit">
                            <span class="cartPage__calculateShipBtn-btnText">{{ 'sections.cart.shipping.button_submit' | t }}</span>
                            <span class="cartPage__calculateShipBtn-btnTextOnSubmit">{{ 'sections.cart.shipping.button_submited' | t }}</span>
                        </button>
                    </div>
                    <div class="cartPage__resCalculate">
                        <div class="cartPage__resCalculate-title"></div>
                        <ul class="cartPage__resCalculate-listRes"></ul>
                    </div>
                </form>
                <script id="dataShipping" type="application/ld+json">
                    {
                        "one_shipping_rate" : {{ 'sections.cart.shipping.one_shipping_rate' | t | json }},
                        "many_shipping_rates" : {{ 'sections.cart.shipping.many_shipping_rates' | t | json }},
                        "not_found_shipping_rate" : {{ 'sections.cart.shipping.not_found_shipping_rate' | t | json }}
                    }
                </script> 
            </shipping-calculator>
            <div class="cartPage__noteBox">
                <div class="cartPage__noteBox-title">{{ 'sections.cart.note' | t }}</div>
                <div class="cartPage__noteBox-subTitle">{{ 'sections.cart.noteLabel' | t }}</div>
                <textarea name="note" id="" cols="30" rows="10" class="cartPage__noteBox-text"></textarea>
            </div>
            <div class="cartPage__checkoutBox">
                <div class="cartPage__subTotal">
                    <div class="cartPage__subTotal-text">{{ 'sections.cart.subTotal' | t }}</div>
                    <div class="cartPage__subTotal-price">{{ cart.items_subtotal_price | money }}</div>
                </div>
                <div class="cartPage__grandTotal">
                    <div class="cartPage__grandTotal-text">{{ 'sections.cart.grandTotal' | t }}</div>
                    <div class="cartPage__grandTotal-price">{{ cart.total_price | money }}</div>
                </div>
                {%- render 'snippet-checkout-term' -%}
            </div>
        </div>
    {%- else -%}
        <div class="cartPage__inner">
            <div class="cartPage__emptyCart">
                <div class="cartPage__emptyCart-icon">
                    <img src="//cdn.shopify.com/s/files/1/0550/1714/4497/files/shopping-bag.png?v=1655886064"/>
                </div>
                <div class="cartPage__emptyCart-title">{{ 'sections.cart.emptyCart.title' | t }}</div>
                <div class="cartPage__emptyCart-subTitle">{{ 'sections.cart.emptyCart.subTitle' | t }}</div>
                <div class="cartPage__emptyCart-btnShopping">
                    <a href="{{ routes.collections_url }}" class="">
                        <button class="cartPage__emptyCart-btnShopping-btn">{{ 'sections.cart.emptyCart.continueShopping' | t }}</button>
                    </a>
                </div>
            </div>
        </div>
    {%- endif -%}

</main-cart>
<cart-popup-error class="cartPopUpError">
    <div class="cartPopUpError__overlay">
        <div class="cartPopUpError__content">
            <div class="cartPopUpError__header">
                <div class="cartPopUpError__header-icon">
                    {%- render 'icon-warning'-%}
                </div>
                <div class="cartPopUpError__header-text">{{ 'sections.cart-popup-error.title' | t }}</div>
            </div>
            <div class="cartPopUpError__error">You can only add {{ product.variants[0].inventory_quantity }} of this item to your cart.</div>
            <div class="cartPopUpError__iconClose">
                {%- render 'icon-X' -%}
            </div>
        </div>
    </div>
</cart-popup-error>


{% schema %}
    {
        "name": "Cart Page",
        "tag": "section",
        "presets": [
            {
              "name": "Cart Page"
            }
        ]
    }
{% endschema %}