<link rel="stylesheet" href="{{ 'productSpecs.css' | asset_url }}">
<section class="productSpecs">
    <div class="productSpecs__inner">
        <div class="productSpecs__optionWrapper">
            <div class="productSpecs__option">
                <div class="productSpecs__optionWrap">
                    <div class="productSpecs__optionWrap-text ">{{ 'sections.productSpecs.tab.description' | t }}</div>
                    <div class="productSpecs__optionWrap-hideIcon">
                        {%- render 'icon-angle-top' -%}
                    </div>
                    <div class="productSpecs__optionWrap-showIcon">
                        {%- render 'icon-angle-bot' -%}
                    </div>
                </div>
                <div class="productSpecs__content">
                    {{ product.description }}
                </div>
            </div>
            {%- if product.metafields.dimensions.content != nil and product.metafields.dimensions.heading != nil -%}
                <div class="productSpecs__option productSpecs__dimensions">
                    <div class="productSpecs__optionWrap ">
                        <div class="productSpecs__optionWrap-text ">{{ 'sections.productSpecs.tab.dimensions' | t }}</div>
                        <div class="productSpecs__optionWrap-hideIcon">
                            {%- render 'icon-angle-top' -%}
                        </div>
                        <div class="productSpecs__optionWrap-showIcon">
                            {%- render 'icon-angle-bot' -%}
                        </div>
                    </div>
                    {%- assign getSize = product.metafields.dimensions.heading.size -%}
                    {%- assign heading = product.metafields.dimensions.heading -%}
                    {%- assign content = product.metafields.dimensions.content -%}

                    {%- for i in (1..getSize) -%}
                        {%- assign index = i | minus: 1 -%}
                        <div class="productSpecs__content">
                            <div class="productSpecs__content-heading">{{ heading[index] }}</div>
                            <div class="productSpecs__content-content dimentions__content">{{ content[index] }}</div>
                        </div>
                    {%- endfor -%}
                </div>
            {%- endif -%}
            {%- if product.metafields.document.file != nil and product.metafields.document.text and product.metafields.document.type -%}
                <div class="productSpecs__option">
                    <div class="productSpecs__optionWrap">
                        <div class="productSpecs__optionWrap-text ">{{ 'sections.productSpecs.tab.technical' | t }}</div>
                        <div class="productSpecs__optionWrap-hideIcon">
                            {%- render 'icon-angle-top' -%}
                        </div>
                        <div class="productSpecs__optionWrap-showIcon">
                            {%- render 'icon-angle-bot' -%}
                        </div>
                    </div>
                    <div class="productSpecs__content">
                        <ul class="productSpecs__listDocument">
                        {%- assign getSize = product.metafields.document.text.size -%}
                        {%- assign text = product.metafields.document.text -%}
                        {%- assign type = product.metafields.document.type -%}
                        {%- assign file = product.metafields.document.file -%}
                            {%- for i in (1..getSize) -%}
                                {% assign tmp = i | minus: 1 %}
                                <li class="productSpecs__listDocument-line">
                                    <div class="productSpecs__listDocument-wrapper">
                                        <span class="productSpecs__listDocument-lineText">{{ text[tmp] }}</span>
                                        <div class="productSpecs__listDocument-fileCont">
                                            <span class="productSpecs__listDocument-lineType">{{ type[tmp] }}</span>
                                            <a href="{{ file[tmp] }}"  class="productSpecs__listDocument-lineDownload" download target="_blank">
                                                {% render 'icon-download' %}
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            {%- endfor -%}
                        </ul>
                    </div>
                </div>
            {%- endif -%}
            {%- if product.metafields.part.product != nil -%}
                <div class="productSpecs__option">
                    <div class="productSpecs__optionWrap">
                        <div class="productSpecs__optionWrap-text ">{{ 'sections.productSpecs.tab.parts' | t }}</div>
                        <div class="productSpecs__optionWrap-hideIcon">
                            {%- render 'icon-angle-top' -%}
                        </div>
                        <div class="productSpecs__optionWrap-showIcon">
                            {%- render 'icon-angle-bot' -%}
                        </div>
                    </div>
                    <div class="productSpecs__content">
                        <div class="productSpecs__columnLayout">
                            {%- assign dataProducts = product.metafields.part.product | split: "|" -%}
                            {%- for pdName in dataProducts -%}
                                {%- assign dataProduct = all_products[pdName] -%}
                                {%- if dataProduct.id != blank -%}
                                    {%- render 'product-card' with dataProduct as product -%}
                                {%- endif -%}
                            {%- endfor -%}
                        </div>
                    </div>
                </div>
            {%- endif -%}
            {%- if product.metafields.shopping.page != nil -%}
                <div class="productSpecs__option">
                    <div class="productSpecs__optionWrap">
                        <div class="productSpecs__optionWrap-text ">{{ 'sections.productSpecs.tab.shipping' | t }}</div>
                        <div class="productSpecs__optionWrap-hideIcon">
                            {%- render 'icon-angle-top' -%}
                        </div>
                        <div class="productSpecs__optionWrap-showIcon">
                            {%- render 'icon-angle-bot' -%}
                        </div>
                    </div>
                    {%- if product.metafields.shopping.page != blank -%}
                        <div class="productSpecs__content">
                            {{ pages[product.metafields.shopping.page].content }}
                        </div>
                    {%- endif -%}
                </div>
            {%- endif -%}
        </div>
        <div class="productSpecs__contentDestopCont">
            <div class="productSpecs__contentDescriptionCont contentDestop">
                <div class="productSpecs__contentDestop">
                    {{ product.description }}
                </div>
            </div>
            {%- if product.metafields.dimensions.content != nil and product.metafields.dimensions.heading != nil -%}
                <div class="productSpecs__contentDimensionsCont contentDestop">
                    {%- assign getSize = product.metafields.dimensions.heading.size -%}
                    {%- assign heading = product.metafields.dimensions.heading -%}
                    {%- assign content = product.metafields.dimensions.content -%}
    
                    {%- for i in (1..getSize) -%}
                        {%- assign index = i | minus: 1 -%}
                        <div class="productSpecs__contentDestop">
                            <div class="productSpecs__contentDestop-heading">{{ heading[index] }}</div>
                            <div class="productSpecs__contentDestop-content dimentions__content">{{ content[index] }}</div>
                        </div>
                    {%- endfor -%}
                </div>
            {%- endif -%}
            {%- if product.metafields.document.file != nil and product.metafields.document.text and product.metafields.document.type -%}
                <div class="productSpecs__contentDocumentsCont contentDestop">
                    <div class="productSpecs__contentDestop">
                        <ul class="productSpecs__listDocument">
                            {%- assign getSize = product.metafields.document.text.size -%}
                            {%- assign text = product.metafields.document.text -%}
                            {%- assign type = product.metafields.document.type -%}
                            {%- assign file = product.metafields.document.file -%}
                            {%- for i in (1..getSize) -%}
                                {% assign tmp = i | minus: 1 %}
                                <li class="productSpecs__listDocument-line">
                                    <div class="productSpecs__listDocument-wrapper">
                                        <span class="productSpecs__listDocument-lineText">{{ text[tmp] }}</span>
                                        <div class="productSpecs__listDocument-fileCont">
                                            <span class="productSpecs__listDocument-lineType">{{ type[tmp] }}</span>
                                            <a href="{{ file[tmp] }}"  class="productSpecs__listDocument-lineDownload" download target="_blank">
                                                {% render 'icon-download' %}
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            {%- endfor -%}
                        </ul>
                    </div>
                </div>
            {%- endif -%}
            {%- if product.metafields.part.product != nil -%}
                <div class="productSpecs__contentPartsCont contentDestop">
                    <div class="productSpecs__contentDestop">
                        <div class="productSpecs__columnLayout">
                            {%- assign dataProducts = product.metafields.part.product | split: "|" -%}
                            
                            {%- for pdName in dataProducts -%}
                                {%- assign dataProduct = all_products[pdName] -%}
                                {%- if dataProduct.id != blank -%}
                                    {%- render 'product-card' with dataProduct as product -%}
                                {%- endif -%}
                            {%- endfor -%}
                        </div>
                    </div>
                </div>
            {%- endif -%}
            {%- if product.metafields.shopping.page != nil -%}
                <div class="productSpecs__contentShippingCont contentDestop">
                    {% comment %} <script>console.log({{ pages[product.metafields.shopping.page].content | json }})</script> {% endcomment %}
                    <div class="productSpecs__contentDestop">
                        {{ pages[product.metafields.shopping.page].content }}
                    </div>
                </div>
            {%- endif -%}
        </div>
    </div>
</section>
<script src=" {{ 'productSpecs.js' | asset_url }}" defer></script>
{% schema %}
    {
        "name": "Product Specifications",
        "tag": "section",
        "presets": [
            {
              "name": "Product Specifications"
            }
        ],
        "settings":[
            {
                "type":"header",
                "content":"Product Specifications"
            }
        ]

    }
{% endschema %}