<link rel="stylesheet" href="{{ 'list-collections.css' | asset_url }}">
{%- assign limitPerRow = section.settings.limitPerRow | split: "," -%}
<div class="collections__wrapper">
  <div class="collections">
    {% if section.settings.show_display =='2' %}
    <div class="collections__inner">
      {% for collection in collections %}
      {% render 'category-card' with  collection as collection  %}    
      {% endfor %}                
    </div>
    {% endif %}
    {% if section.settings.show_display =='1' %}
    <div class="collections__inner">     
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'add_collection' %}       
            {% render 'category-card' with block.settings.collect as collection  %}             
        {% endcase %}       
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>

{% style %}
@media(min-width: 320px){
  .collections__inner{
    grid-template-columns: repeat({{limitPerRow[0]}},1fr) !important;
  }
}
@media(min-width: 600px){
  .collections__inner{
    grid-template-columns: repeat({{limitPerRow[1]}},1fr)!important;
  }
}
@media(min-width: 800px){
  .collections__inner{
    grid-template-columns: repeat({{limitPerRow[2]}},1fr)!important;
  }
}
@media(min-width: 1000px){
  .collections__inner{
    grid-template-columns: repeat({{limitPerRow[3]}},1fr)!important;
  }
}
@media(min-width: 1280px){
  .collections__inner{
    grid-template-columns: repeat({{limitPerRow[4]}},1fr)!important;
  }
}
{% endstyle %}
{% schema %}
{
  "name": "Collections",
  "class": "List-collection",
  "settings":[
  {
    "type":"text",
    "id": "limitPerRow",
    "label":"Items per row: ",
    "info": "E.g: 2,3,4,5,6 - 320px - 600px - 800px - 1000px - 1280px"
  },
  {
    "type": "select",
    "id": "show_display",
    "label": "Collection view",
    "options": [
      {
        "value": "1",
        "label": "View collections from blocks"
      },
      {
        "value": "2",
        "label": "View all collections"
      }
    ],
    "default": "1"
  }
  ],
  "blocks": [
     {
       "name": "collection",
       "type":"add_collection",
       "settings": [
         {
           "type": "collection",
           "id": "collect",
           "label": "Add collection "
         }
         
       ]
     }
   ]
}
{% endschema %}

