<link rel="stylesheet" href="{{ 'homeFilter.css' | asset_url }}">
<section class="homeFilter" data-section-type="home-filter" data-section-id="{{ section.id }}">
    <div class="homeFilter__inner">
        <div class="homeFilter__title">
            <div class="homeFilter__leftTitle">
                WHAT FRIDGE DO I NEED?
            </div>
            <div class="homeFilter__rightTitle">
                LET US HELP YOU!
            </div>
        </div>
        <div class="homeFilter__content">
            {%- for block in section.blocks -%}
                {%- case block.type -%}
                    {%- when 'filter' -%}
                        <div class="filterOption" {{ block.shopify_attributes }}>
                            <div class="filterOption__title"> {{ block.settings.title }}</div>
                            <div class="filterOption__dropdown">
                                <div class="filterOption__dropdown-placeHolder">- Select -</div>
                                <div class="filterOption__dropdownCont">
                                    {%- assign tags = block.settings.tags | split: ',' -%}
                                    {%- for tag in tags -%}
                                        <div class="filterOption__dropdownCont-option">{{ tag }}</div>
                                    {%- endfor -%}
                                </div>
                            </div>
                            <button class="filterOption__btnConfirm" value="">
                                {% render 'icon-next' %}
                            </button>
                        </div>
                {%- endcase -%}
            {%- endfor -%}
        </div>
    </div>
    <script src=" {{ 'homePage-filter.js' | asset_url }}" defer></script>
</section>

{% schema %}
    {
        "name": "Filter",
        "tag": "section",
        "presets": [
            {
              "name": "Filter"
            }
        ],
        "settings":[
            {
                "type":"header",
                "content":"Filter"
            }
        ],
        "blocks":[
            {
                "name": "Filter",
                "type": "filter",
                "settings": [
                    {
                        "type":"text",
                        "id":"title",
                        "label":"Write your title: "
                    },
                    {
                        "type":"textarea",
                        "id":"tags",
                        "label":"Write your option of filter: "
                    }
                ]
            }
        ]
    }
{% endschema %}